@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

h2 {
    font-size: 1.7rem;
}

#grid_wrapper_index {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    grid-template-rows: 140px min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "he he"
    "na na"
    "sq sq"
    "st st"
    "s3 s3"
    "s4 s4"
    "sb sb"
    "fo fo"
    ;
}

#grid_wrapper_buycourse {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    grid-template-rows: 140px min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "he he"
    "na na"
    "st st"
    "ac ac"
    "sb sb"
    "fo fo"
    ;
}

#grid_wrapper_aboutmusic {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    grid-template-rows: 140px min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "he he"
    "na na"
    "st st"
    "sl sl"
    "sr sr"
    "sb sb"
    "fo fo"
    ;
}

#grid_wrapper_aboutme {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) 1fr;
    grid-template-rows: 140px min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "he he"
    "na na"
    "st st"
    "a1 a1"
    "a2 a2"
    "a3 a3"
    "sb sb"
    "fo fo"
    ;
}


section {
    margin-left: 7vw; 
    margin-right: 7vw;
    overflow: hidden;
    background-color: white;
    color: rgb(45, 42, 42);
}

#header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 65, 160);
    overflow: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
}

#burger {
    height: min-content;
    width: min-content;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 40px; */
    cursor: pointer;
}

#burger_part {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    height: 11px;
    width:11px;
    border-radius: 10px;
}

#burger_part2, #burger_part3 {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    height: 11px;
    width:11px;
    border-radius: 10px;
}

.burger_active #burger_part{
    margin: 0px;
    transform: scale(1.5);
    transition: 500ms;
}

.burger_active #burger_part2{
    margin: 0px;
    transform: scale(1.5);
    opacity: 0;
    transition: 500ms;
}

.burger_active #burger_part3{
    margin: 0px;
    transform: scale(1.5);
    opacity: 0;
    transition: 500ms;
}

.burger_inactive #burger_part{
    margin: 3px;
    transition: 500ms;
}

.burger_inactive #burger_part2{
    margin: 3px;
    transition: 500ms;
}

.burger_inactive #burger_part3{
    margin: 3px;
    transition: 500ms;
}

#nav {
    grid-area: na;
}
#section_quotes {
    grid-area: sq;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section_page_title {
    grid-area: st;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section3 {
    grid-area: s3;
}

#section4 {
    grid-area: s4;
}

#section_buy {
    grid-area: sb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 70px;
}

#section_left {
    grid-area: sl;
}

#section_right {
    grid-area: sr;
}

.img_aboutmusic {
    width: 100%;
    border-radius: 2vw;
}

.article_aboutmusic {
    padding-top: 0px;
    padding-bottom: 25px;
}

#footer {
    grid-area: fo;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

.article_index {
    padding-bottom: 35px;
}

#list_pages {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 400ms;
}

a {
    color: white;
    font-weight: 1000;
    font-size: 3vw;
}

.list_inactive {
    transition: 400ms;
    height: 0px;
    opacity: 0%;
}
.list_active {
    transition: 400ms;
    height: 80px;
    opacity: 100%;
}

.text_quote {
    font-style: italic;
    text-align: center;
}

#text_header {
    font-size: 3.5vw;
    color: white;
    text-shadow: 0.3vw 0.3vw 0 black;
}

#page_title {
    font-weight: 1000;
    font-size: 3.5rem;
    text-align: center;
}

#bigger_buy_button {
    width: 300px;
    height: 100px;
    border-radius: 24px;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 65, 160);
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 0 black;
}

#big_buy_button {
    width: 200px;
    height: 70px;
    border-radius: 36px;
    font-size: 1.2rem;
    font-weight: 1000;
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    left: 100vmax;
    margin: 30px;
    transition: 500ms;
}


#big_buy_button:hover{
    transition: 500ms;
    transform: scale(1.05);
}

#article_checkout {
    grid-area: ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_checkout {
    width: 60%;
    margin: 5px 0;
    padding: 12px 5px;
    box-sizing: border-box ;
    border: none;
    border-bottom: 2px solid black;
}

.input_checkout:focus {
    border: none;
    border-bottom: 2px solid rgb(255, 65, 160);
    outline-width: 0;
    outline: none;
}

.article_aboutme {
    grid-area: am;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5vw; 
    margin-right: 3.5vw;
    overflow: hidden;
    background-color: white;
    padding-bottom: 35px;
}

#article_aboutme_1 {
    grid-area: a1;
}

#article_aboutme_2 {
    grid-area: a2;
}

#article_aboutme_3 {
    grid-area: a3;
}

#aside_aboutme {
    display:none
}


#img_aboutme {
    height: 100%;
    border-radius: 2vw;
    width: 35vw;
    object-fit: none;
}


@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }
    
    #list_pages {
        height: 80px;
        opacity: 100%;
    }

    a {
        font-size: 1rem
    }
    
    #grid_wrapper_index {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 1fr;
        grid-template-rows: 140px min-content min-content min-content min-content min-content min-content min-content;
        grid-template-areas: 
        "he he"
        "na na"
        "sq sq"
        "st st"
        "s3 s4"
        "sb sb"
        "fo fo"
        ;

    }

    #grid_wrapper_aboutmusic {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 1fr;
        grid-template-rows: 140px min-content min-content min-content min-content min-content min-content;
        grid-template-areas: 
        "he he"
        "na na"
        "st st"
        "sl sr"
        "sl sr"
        "sb sb"
        "fo fo"
        ;
    }

    #grid_wrapper_aboutme {
        display: grid;
        grid-template-columns: minmax(200px, 2fr) 1fr;
        grid-template-rows: 140px min-content min-content min-content min-content min-content min-content;
        grid-template-areas: 
        "he he"
        "na na"
        "st st"
        "a1 as"
        "a2 as"
        "a3 as"
        "sb sb"
        "fo fo"
        ;
    }

    #aside_aboutme {
        display:flex;
        align-items: center;
        justify-content: center;
        grid-area: as;
        margin-right: 3.5vw;
        background-color: white;
        padding-bottom: 35px;
    }

}
