@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: rgb(45, 42, 42);
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(255, 255, 255); 
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 140px min-content 300px 400px 400px 100px;
    grid-template-areas: 
    "he he"
    "na na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    ;
}

#header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
}

#burger {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
}

#nav {
    grid-area: na;
}
#section1 {
    grid-area: s1;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section2 {
    grid-area: s2;
}

#section3 {
    grid-area: s3;
}

#section4 {
    grid-area: s4;
}

#footer {
    grid-area: fo;
}

#list_pages {
    background-color: rgb(232, 181, 203);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 400ms;
}

.list_inactive {
    transition: 400ms;
    height: 0px;
    opacity: 0%;
}
.list_active {
    transition: 400ms;
    height: 80px;
    opacity: 100%;
}

#text_quote {
    font-style: italic;
}

#text_header {
    font-size: 4rem
}

#big_buy_button {
    width: 200px;
    height: 70px;
    border-radius: 35px;
    font-size: 1.8rem;
    font-weight: 1000;
    color: white;
    background-color:rgb(49, 127, 196);
    box-shadow: 0 0 18px 0 rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    left: 100vmax;
    margin: 30px;
    transition: 500ms;
}

#big_buy_button:hover{
    transition: 500ms;
    transform: scale(1.05);}