@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

h2 {
    font-size: 1.7rem;
}

#grid_wrapper_index {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    grid-template-rows: 140px min-content 250px min-content min-content min-content min-content;
    grid-template-areas: 
    "he he"
    "na na"
    "s1 s1"
    "s2 s2"
    "s3 s4"
    "s5 s5"
    "fo fo"
    ;
}

section {
    margin-left: 7vw; 
    margin-right: 7vw;
    overflow: hidden;
    background-color: white;
    color: rgb(45, 42, 42);
}

#header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 65, 160);
    overflow: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
}

#burger {
    height: min-content;
    width: min-content;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 40px; */
    cursor: pointer;
}

#burger_part {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    height: 11px;
    width:11px;
    border-radius: 10px;
}

#burger_part2 {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    height: 11px;
    width:11px;
    border-radius: 10px;
}

.burger_active #burger_part{
    margin: 0px;
    transform: scale(1.5);
    transition: 500ms;
}

.burger_active #burger_part2{
    margin: 0px;
    transform: scale(1.5);
    opacity: 0;
    transition: 500ms;
}

.burger_inactive #burger_part{
    margin: 3px;
    transition: 500ms;
}

.burger_inactive #burger_part2{
    margin: 3px;
    transition: 500ms;
}

#nav {
    grid-area: na;
}
#section1 {
    grid-area: s1;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section2 {
    grid-area: s2;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#section3 {
    grid-area: s3;
}

#section4 {
    grid-area: s4;
}

#section5 {
    grid-area: s5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

#footer {
    grid-area: fo;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

#article_index {
    padding-bottom: 70px;
}

#list_pages {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 400ms;
}

a {
    color: white;
    font-weight: 1000;
}

.list_inactive {
    transition: 400ms;
    height: 0px;
    opacity: 0%;
}
.list_active {
    transition: 400ms;
    height: 80px;
    opacity: 100%;
}

#text_quote {
    font-style: italic;
    text-align: center;
}

#text_header {
    font-size: 3.5vw;
    color: white;
}

#section_title {
    font-weight: 5000;
    font-size: 3.5rem;
    text-align: center;
}

#bigger_buy_button {
    width: 300px;
    height: 100px;
    border-radius: 24px;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 65, 160);
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big_buy_button {
    width: 200px;
    height: 70px;
    border-radius: 36px;
    font-size: 1.2rem;
    font-weight: 1000;
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    left: 100vmax;
    margin: 30px;
    transition: 500ms;
}


#big_buy_button:hover{
    transition: 500ms;
    transform: scale(1.05);
}




@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }
    
    #list_pages {
        height: 80px;
        opacity: 100%;
    }

}